<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd">

    <!-- ================================= JDBC ================================== -->

    <!-- JDBC Template -->
    <bean id="jdbcTemplate" class="${jdbcTemplate.class}">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- Transaction Manager -->
    <!-- Used to allow rolling back transactions after tests -->
    <bean id="transactionManager" class="${transactionManager.class}">
        <property name="dataSource" ref="dataSource" />
    </bean>

    <!-- ============================== DATASOURCE =============================== -->
    
    <import resource="classpath:context/persistence/datasource.xml" />

</beans>