#set( $symbol_pound = '#' )
${symbol_pound} Project Information

- Java version: ${javaVersion}
- License: [${license}](./license.html)
- SCM: [${scmName}](${scmURL})
- CI: [${ciName}](${ciURL})

${symbol_pound}${symbol_pound} Downloads

The project can be found on [Bintray repo][bintray-repo], from where it is replicated to JCenter, oss.Sonatype and the [Maven Central Repository][maven-repo].

${symbol_pound}${symbol_pound} Project reports

|Report|Description|
|---|---|
|[Project Summary](./project-summary.html)|General information about the project.|
|[License](./license.html)|Information about the license used by the project.|
|[Team](./team-list.html)|The members of this project.|

[bintray-repo]: ${bintrayURL}
[maven-repo]: ${mavenURL}